.topnav-links a
{
    font-family: 'Work Sans', sans-serif;
}

.title
{
    font-weight: 700 !important;
    font-size: x-large;
}

.spacer
{
    flex: 1 1 auto;
}

.title
{
    font-family: 'Chomsky', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
}

.mat-sidenav a
{
    font-family: 'Work Sans', sans-serif;
}

.sidebar-header
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    text-decoration-line: underline ;
}

.search-button
{
    color: white;
}

::ng-deep.mat-menu-panel {
    max-width: none !important;
    background-color: #3f3f3f;
  }

.input-bar{
    margin: 5px;
}

.submit-search-button{
    background-color: white;
    border-radius: 5px;
    margin: 5px;
}

.submit-search-button:hover{
    background-color: #e5e5e5;
}

.mat-sidenav
{
    width:200px;
}
