<div class="container" fxLayout="column" fxFlexFill>
    <mat-toolbar color="primary">
        
        <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        </div>

        <a mat-button routerLink="/">
        <span><h1 class="title">The News</h1></span>
        </a>
        <span class="spacer"></span>  
        <div class="topnav-links" fxShow="true" fxHide.lt-md="true">
            <a mat-button routerLink="/">World</a>
            <a mat-button routerLink="/">U.S.</a>
            <a mat-button routerLink="/">Politics</a>
            <a mat-button routerLink="/">Business</a>
            <a mat-button routerLink="/">Tech</a>
            <a mat-button routerLink="/">Science</a>
            <a mat-button routerLink="/">Climate</a>
            <a mat-button routerLink="/">Sports</a>
            <a mat-button routerLink="/">Arts</a>
            <a mat-button routerLink="/">Health</a>
        </div>
        <button class="search-button" mat-icon-button [matMenuTriggerFor]="menu" color="primary" aria-label="Search for an article">
            <mat-icon>search</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <div fxLayout="row">
                <input class="input-bar" (click)="$event.stopPropagation();" matInput type="text" appearance="fill" placeholder="search">
                <button mat-menu-item class="submit-search-button">Go</button>
            </div>
        </mat-menu>

    </mat-toolbar>

    <!--side nav gets a height of 100vh via the fxFlexFill directive. toolbar is 64px high. need to account for difference. otherwise extra unstoppable scrollbar appears-->
    <div style="height: calc(100% - 64px);"> 
        <mat-sidenav-container fxFlexFill>
            <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
            <div fxLayout="column">
                <div class="sidebar-header">News</div>
                <a mat-button routerLink="/">World</a>
                <a mat-button routerLink="/">U.S.</a>
                <a mat-button routerLink="/">Politics</a>
                <a mat-button routerLink="/">Business</a>
                <a mat-button routerLink="/">Tech</a>
                <a mat-button routerLink="/">Science</a>
                <a mat-button routerLink="/">Climate</a>
                <a mat-button routerLink="/">Sports</a>
                <a mat-button routerLink="/">Arts</a>
                <a mat-button routerLink="/">Health</a>
            </div>
            </mat-sidenav>

            <mat-sidenav-content fxLayout="column">

                <ng-content></ng-content> <!--Main homepage content goes here-->

                <app-footer fxFlexOffset="auto"></app-footer>

            </mat-sidenav-content>
            
        </mat-sidenav-container>
  </div>
</div>