<div class="container" fxLayout="column" fxFlexFill>
    <mat-toolbar color="primary">
        
        <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        </div>

        <a mat-button routerLink="/">
        <span><h1 class="title">The News</h1></span>
        </a>
        <span class="spacer"></span>  
        <div class="topnav-links" fxShow="true" fxHide.lt-md="true">
            <a mat-button [routerLink]="['/section', 'world']">World</a>
            <a mat-button [routerLink]="['/section', 'u.s.']">U.S.</a>
            <a mat-button [routerLink]="['/section', 'health']">Health</a>
            <a mat-button [routerLink]="['/section', 'business']">Business</a>
            <a mat-button [routerLink]="['/section', 'technology']">Tech</a>
            <a mat-button [routerLink]="['/section', 'science']">Science</a>
            <a mat-button [routerLink]="['/section', 'climate']">Climate</a>
            <a mat-button [routerLink]="['/section', 'sports']">Sports</a>
            <a mat-button [routerLink]="['/section', 'arts']">Arts</a>
            <a mat-button [routerLink]="['/section', 'movies']">Movies</a>
        </div>
        <button class="search-button" mat-icon-button [matMenuTriggerFor]="menu" color="primary" aria-label="Search for an article">
            <mat-icon>search</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <div fxLayout="row">
                <form fxLayout="row" [formGroup] ="searchForm" (ngSubmit)="onSearchSubmit()" ngNativeValidate>
                    <input class="input-bar" formControlName="inputBar" (click)="$event.stopPropagation();" matInput type="text" appearance="fill" placeholder="search" required>   
                    <button mat-menu-item type="submit" class="submit-search-button" (click)="$event.stopPropagation();">Go</button>
                </form>
            </div>
        </mat-menu>

    </mat-toolbar>

    <!--side nav gets a height of 100vh via the fxFlexFill directive. toolbar is 64px high. need to account for difference. otherwise extra unstoppable scrollbar appears-->
    <div style="height: calc(100% - 64px);"> 
        <mat-sidenav-container fxFlexFill>
            <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
            <div fxLayout="column">
                <div class="sidebar-header">News</div>
                <a mat-button [routerLink]="['/section', 'world']" (click)="sidenav.toggle()">World</a>
                <a mat-button [routerLink]="['/section', 'u.s.']" (click)="sidenav.toggle()">U.S.</a>
                <a mat-button [routerLink]="['/section', 'health']" (click)="sidenav.toggle()">Health</a>
                <a mat-button [routerLink]="['/section', 'business']" (click)="sidenav.toggle()">Business</a>
                <a mat-button [routerLink]="['/section', 'technology']" (click)="sidenav.toggle()">Tech</a>
                <a mat-button [routerLink]="['/section', 'science']" (click)="sidenav.toggle()">Science</a>
                <a mat-button [routerLink]="['/section', 'climate']" (click)="sidenav.toggle()">Climate</a>
                <a mat-button [routerLink]="['/section', 'sports']" (click)="sidenav.toggle()">Sports</a>
                <a mat-button [routerLink]="['/section', 'arts']" (click)="sidenav.toggle()">Arts</a>
                <a mat-button [routerLink]="['/section', 'movies']" (click)="sidenav.toggle()">Movies</a>
            </div>
            </mat-sidenav>

            <mat-sidenav-content fxLayout="column">

                <ng-content ></ng-content> <!--content goes here-->

                <app-footer fxFlexOffset="auto"></app-footer>

            </mat-sidenav-content>
            
        </mat-sidenav-container>
  </div>
</div>