<div class="content">
    
    <div *ngIf="topStories$" class="top-stories">
        <h2 class="main-title">Top Stories</h2>
        <div *ngFor="let story of topStories$.results | slice:0:21;">
            <div class="topStory">
                <span class="text">     
                <a [href]="story.url"><h1>{{story.title}}</h1></a> 
                    <p>{{story.abstract}}</p>
                </span>
                <span class="image"><img [src]="story.multimedia[3].url"></span>
            </div>
        </div>
    </div>

    <div *ngIf="popularStories$" class="popular-stories">
        <h2 class="main-title">Most Popular</h2>
        <div *ngFor="let story of popularStories$.results | slice:0:21; index as i">
            <div class="topStory">
                <span class="text">     
                <a [href]="story.url"><h1>{{story.title}}</h1></a> 
                    <p>{{story.abstract}}</p>
                </span>
                <span class="image" *ngIf="story.media[0]"><img [src]="constructSrc(i)"></span>
            </div>
        </div>
    </div>


</div>