.spacer{
    flex: 1 1 auto;
}

/* Article title font */
h1, h2, h3, h4, h5{
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

/* Article body font */
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 30px;
}

/* font for toolbar links */
.nav-font{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
  
.title{
    font-family: 'Chomsky', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
}