
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-black: (
  50: #000000,
  100: #000000,
  200: #000000,
  300: #000000,
  400: #000000,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #000000,
  A200: #000000,
  A400: #000000,
  A700: #000000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-dark-gray: (
  50: #3f3f3f,
  100: #3f3f3f,
  200: #3f3f3f,
  300: #3f3f3f,
  400: #3f3f3f,
  500: #3f3f3f,
  600: #3f3f3f,
  700: #3f3f3f,
  800: #3f3f3f,
  900: #3f3f3f,
  A100: #3f3f3f,
  A200: #3f3f3f,
  A400: #3f3f3f,
  A700: #3f3f3f,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-news-app-primary: mat-palette($mat-black);
$ng-news-app-accent: mat-palette($mat-dark-gray);

// The warn palette is optional (defaults to red).
$ng-news-app-warn: mat-palette($mat-orange);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ng-news-app-theme: mat-light-theme((
  color: (
    primary: $ng-news-app-primary,
    accent: $ng-news-app-accent,
    warn: $ng-news-app-warn,
  )
));

// Define a custom typography config that overrides the font-family
$custom-typography: mat-typography-config(
  $font-family: 'Georgia, Times New Roman, Times, serif',
  );

  // Override the typography in the core CSS.
@include mat-core($custom-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ng-news-app-theme);

